body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 11px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #f0f0f0; /* El color del fondo de la página web */
    color: #333333; /* El color del texto*/ 
}
h1 {
    color: #8818ad /* El color de la cabecera */
    font-size: 35px; /* El tamaño de la fuente de la cabecera */
    font-family: sans-serif, serif; /* La familia tipográfica utilizada en la cabecera */
    animation: color-change 3s infinite;

    @keyframes color-change {
      0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
  }

}
